@import './normalize.css';

:root {
	--color-background: rgb(15, 22, 31);
	--color-text: aliceblue;
	--color-accent: rgb(245, 122, 0);
	--color-accent-dark: rgb(185, 100, 20);
	--color-secondary: rgb(15, 247, 227);
	--color-secondary-dark: rgb(31, 77, 243);
	--color-status-error: rgb(170, 31, 0);
	--color-status-warning: rgb(255, 225, 0);
	--color-status-ok: rgb(0, 200, 0);

	--font-size-small: 16px;
	--font-size-base: 20px;
	--font-size-medium: 24px;
	--font-size-large: 32px;
	--font-size-title: 44px;

	@media screen and (max-height: 900px) {
		--font-size-small: 12px;
		--font-size-base: 16px;
		--font-size-medium: 20px;
		--font-size-large: 24px;
		--font-size-title: 36px;
	}

	--font-family-base: 'Segoe UI', sans-serif;
	--font-family-code: 'Consolas', monospace;

	--border-size-base: 2px;
	--border-radius-base: 4px;

	--transition-base: all 0.15s ease-in-out;
	--transition-fast: all 0.1s ease-in-out;

	--navbar-height: 10vh;
	--window-height: calc(100vh - var(--navbar-height));

	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	color: var(--color-text);
}

body {
	background: var(--color-background);
}

h1 {
	margin: 0;
	font-size: var(--font-size-title);
}

h2 {
	margin: 0;
	font-size: var(--font-size-large);
}

h3 {
	margin: 0;
	font-size: var(--font-size-medium);
}

h4 {
	margin: 0;
	font-size: var(--font-size-base);
}

p,
span {
	margin: 0;
	font-size: var(--font-size-base);
}

.text-small {
	font-size: var(--font-size-small);
}
